.m-hcity {
  padding-bottom: 10px;
  dl {
    display: flex;

    dt {
      font-size: 16px;
      color: #333;
      font-weight: 500;
      margin-right: 23px;
    }

    dd {
      margin: 0 20px;
      color: #666;
      line-height: 22px;
      font-size: 14px;
    }
  }
}